
-- Optimize Conversations policies
DROP POLICY IF EXISTS "conversations_select" ON conversations;
DROP POLICY IF EXISTS "conversations_insert" ON conversations;
DROP POLICY IF EXISTS "conversations_update" ON conversations;

CREATE POLICY "conversations_select_fast" ON conversations
FOR SELECT USING (auth.uid() = participant_1 OR auth.uid() = participant_2);

CREATE POLICY "conversations_insert_fast" ON conversations
FOR INSERT WITH CHECK (auth.uid() = participant_1 OR auth.uid() = participant_2);

CREATE POLICY "conversations_update_fast" ON conversations
FOR UPDATE USING (auth.uid() = participant_1 OR auth.uid() = participant_2);

-- Optimize Messages policies
DROP POLICY IF EXISTS "messages_select_parties" ON messages;
DROP POLICY IF EXISTS "Messages viewable by parties" ON messages;
DROP POLICY IF EXISTS "Users can send messages" ON messages;
DROP POLICY IF EXISTS "Receivers can update messages" ON messages;
DROP POLICY IF EXISTS "messages_insert_own" ON messages;
DROP POLICY IF EXISTS "messages_select_involved" ON messages;
DROP POLICY IF EXISTS "messages_select_involved_v3" ON messages;
DROP POLICY IF EXISTS "messages_insert_own_v3" ON messages;
DROP POLICY IF EXISTS "messages_update_own_v3" ON messages;
DROP POLICY IF EXISTS "messages_select_all" ON messages;

CREATE POLICY "msg_sel_fast" ON messages 
FOR SELECT USING (auth.uid() = sender_id OR auth.uid() = receiver_id);

CREATE POLICY "msg_ins_fast" ON messages 
FOR INSERT WITH CHECK (auth.uid() = sender_id);

CREATE POLICY "msg_upd_fast" ON messages 
FOR UPDATE USING (auth.uid() = sender_id OR auth.uid() = receiver_id);

CREATE POLICY "msg_del_fast" ON messages 
FOR DELETE USING (auth.uid() = sender_id);

-- Also add helpful indexes for those columns if they don't exist
CREATE INDEX IF NOT EXISTS idx_messages_sender_id ON messages(sender_id);
CREATE INDEX IF NOT EXISTS idx_messages_receiver_id ON messages(receiver_id);

