-- Workspace Enforcement RLS Fix
ALTER TABLE contracts ENABLE ROW LEVEL SECURITY; 
CREATE POLICY enforce_workspace_segregation ON contracts FOR ALL USING (workspace_id = (select workspace_id from users where id = auth.uid()));
